@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

.App {
  text-align: center;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: #26211F;
}

.content {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
  padding: 30px 0;
}

h2 {
  text-align: left;
  text-transform: lowercase;
  font-size: 2em;
  margin: 10px 0 0;
  letter-spacing: 1px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  background-image: url('../images/Headphones-Computer.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 400px;
}

.title {
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
  text-align: right;
}

.title h1 {
  margin: 0;
  padding: 10px 60px 10px 0;
  font-size: 4em;
  text-transform: lowercase;
  font-weight: 100;
  letter-spacing: 2px;
}

.formBox {
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

form label {
  padding: 20px 0 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8em;
  letter-spacing: 2px;
}

input[type="text"], textarea {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #26211F;
  box-shadow: none;
}

input[type="text"]:focus, textarea:focus, button:focus {
  outline: 0;
}

button:hover {
  background-color: #75A095;
  -webkit-transition: ease-in-out background-color .3s;
  transition: ease-in-out background-color .3s;
  cursor: pointer;
}

textarea {
  height: 100px;
}

.btn-box {
  margin-top: 20px;
  text-align: center;
}

button {
  width: auto;
  background-color: transparent;
  border: 1px solid #26211F;
  padding: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.listOfSongs {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex-wrap: wrap;
  padding-top: 40px;
  align-items: center;
}

.listOfSongs button {
  width: auto;
  margin-bottom: 20px;
}

.songCard {
  width: 85%;
  background-color: #26211F;
  border-right: 30px solid #75A095;
  padding: 20px;
  margin-bottom: 30px;
  text-align: left;
  color: #fff;
}

.songCard p {
  padding: 10px 0 5px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: .8em;
  letter-spacing: 2px;
}

.songCard h3 i {
  background-color: #75A095;
  border-radius: 100%;
  padding: 8px;
}

@media ( min-width: 800px )  {
  .btn-box {
    text-align: left;
  }

  .content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
  }

  .formBox {
    width: 40%;
  }

  .listOfSongs {
    width: 40%;
    padding-top: 0;
    align-items: flex-end;
  }

  .songCard {
    width: 85%;
  }
}
